<style>
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: -80%; */
    background-color:black ;
    color: white;
    text-align: center;
 }
 
</style>
<footer class="fixed-bottom footer">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
</body>
</html>
