<!DOCTYPE html>
<html lang="en">
    <head>
    <title>MEAN CRUD by Amar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
  </head>

  <body>
        <nav class ="navbar navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="http://localhost:3000"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c1/Cognizant_logo.svg/787px-Cognizant_logo.svg.png" alt="Image cannot be displayed!" width="150"></a> <a class ="navbar-brand" href="#">MEAN CRUD by Anubhav</a>
        </nav>
    </body>
    </html>
    
    
   